@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a1c3ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.set-size-but {
    background-color: rgb(38, 56, 80);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;   
}

.input-field {
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

footer {
    padding: 3px;
    margin-top: auto;
    background-color: rgb(38, 56, 80);
    color: black;
}

.main-content {
    display: flex;
    justify-content: center;
}

.eas-pad {
    width: 700px;
}

.eas-item, .eas-footer {
    text-align: center;
}

.space-container {
    display: flex;
    justify-content: center;
}

.eas-draw-space {
    background-color: #0151cc;
    width: 600px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    display: grid;
}

.eas-buttons {
    margin-bottom: 15px;
}

.eas-button {
    width: 120px;
    background-color: black;
    padding: 8px;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: medium;
    /* margin-left: 35px; */
}

.eas-reset {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 8px;
    border-style: none;
    background: black;
    color: white;
    font-weight: bold;
}